* {
	color: #163640;
	/* @see https://fonts.google.com/specimen/Jura */
	font-family: 'Jura', sans-serif;	
}
label {
	font-weight: 600;
	margin: 0 0.5em;
}
span {
	margin: 0 0.5em;
}
textarea, div[contenteditable=true] {
    overflow: hidden;
    resize: none;
}
footer {
	position: absolute;
	left: 200px;	
	top: 1150px;	
	width: 550px;
}
footer a {
	font-style: italic;
}
.container {
	position: relative;	
}
.tdp-bg {
	width: 100%;
}
.tdp-input {
    background-color: transparent;
	border: none;
    border-bottom: 1px solid #ccc;
    font-size: 80%;
    height: 2.5%;
}
.tdp-name {
	left: 32%;
	position: absolute;
	top: 14%;
	width: 15%;
}
.tdp-description {
	left: 32%;
	position: absolute;
	top: 20.8%;
	width: 15%;
}
.tdp-case {
	height: 3%;
	margin: 0;
	position: absolute;
	width: 3%;
}
.tdp-case-1 {
	left: 21.63%;
}
.tdp-case-2 {
	left: 25.08%;
}
.tdp-case-3 {
	left: 28.48%;
}
.tdp-case-4 {
	left: 32.00%;
}
.tdp-charisma {
	top: 30.1%;
}
.tdp-agility {
	top: 35%;
}
.tdp-strength {
	top: 40.2%;
}
.tdp-education {
	top: 45.05%;
}
.tdp-position {
	height: 2%;
	margin: 0;
	position: absolute;
	width: 2%;
}
.tdp-position-1 {
	left: 25.73%;
}
.tdp-position-2 {
	left: 28.5%;
}
.tdp-helm {
	top: 61.85%;
}
.tdp-navigation {
	top: 65.85%;
}
.tdp-science {
	top: 69.85%;
}
.tdp-security {
	top: 73.85%;
}
.tdp-liaison {
	top: 77.85%;
}
.tdp-engineering {
	top: 81.85%;
}
.tdp-medical {
	top: 85.85%;
}
